<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Тестирование преобразования</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div th:if="${msg_code ne null}" class="alert alert-success" role="alert">
                        <p th:text="${msg_code}"></p>
                        <a th:href="${shortUrl}"
                           th:text="${shortUrlText}"></a>
                    </div>
                    <p th:text="${msg_ERROR}" th:if="${msg_ERROR ne null}" class="alert alert-danger">asdasd</p>
                    <h5>Ввести URL и получить код</h5>
                    <form method="post" th:action="@{/send_url}"> <div class="row">
                    </div>
                        <p><input placeholder="Ввести URl"  type="text" id="url" name="url"  value="" />
                        <p><button type="submit" class="btn btn-primary">Получить код</button>
                    </form>

                </div>

            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h5>Перейти по ссылке используя код</h5>
                    <form method="post" th:action="@{/send_code}"> <div class="row">
                    </div>
                        <p><input placeholder="Ввести URl"  type="text" id="code" name="code"  value="" />
                        <p><button type="submit" class="btn btn-primary">Перейти</button>
                    </form>

                </div>

            </div>
        </div>

    </section>
</div>

</body>
</html>