<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Тестирование преобразования</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <h5>Список кодов</h5>
                    <br/>
                    <br/>
                    <table class="table table-hover w-auto">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Код</th>
                            <th>URL</th>
                            <th>Кол-во обращений</th>
                            <th>Дата создания</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(list)}">
                            <td colspan="2"> No Available</td>
                        </tr>
                        <tr th:each="urlCod : ${list}">
                            <td><span th:text="${urlCod.id}"></span></td>
                            <td><a th:href="'/code/log/info/'+ ${urlCod.id}"
                                   th:text="${urlCod.code}"></td>
                            <td><span th:text="${urlCod.cutUrl}"></span></td>
                            <td><span th:text="${urlCod.countCall}"></span></td>
                            <td><span th:text="${#temporals.format(urlCod.createDate, 'dd.MM.yyyy hh:mm')}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>