<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Тестирование преобразования</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">

                    <div class="row">
                        <div align="right" class="col-md-2"><strong>Код</strong></div>
                        <div class="col-md-2"><p th:text="${urlCodeModel.code}"></p></div>
                    </div>
                    <div class="row">
                        <div align="right" class="col-md-2"><strong>URL</strong></div>
                        <div class="col-md-auto"><p th:text="${urlCodeModel.url}"></p></div>
                    </div>
                    <br/>
                    <br/>
                    <h5>Лог запросов</h5>
                    <br/>
                    <br/>
                    <table class="table table-hover w-auto">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Дата создания</th>
                            <th>В качестве запроса был</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(list)}">
                            <td colspan="2"> No Available</td>
                        </tr>
                        <tr th:each="log : ${list}">
                            <td><span th:text="${log.id}"></span></td>
                            <td><span th:text="${#temporals.format(log.createDate, 'dd.MM.yyyy hh:mm')}"></span></td>
                            <td><span th:text="${log.type.type}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</div>


</body>
</html>